.forgot-password2-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; /* Tam genişlik */
    background-image: url("../assets/arkaplan.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
  }
  
  .content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Görsel üzerine şeffaf arka plan */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Hafif gölge efekti */
  }
  
  p {
    margin-top: 15px;
    font-size: 1rem;
    color: #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e69500; /* Daha koyu turuncu */
  }
  